@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  margin: 0px;
  padding:0px;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  /*Imagen corazon */
  .blackHeart{
    width: 20px;
    margin-right: 1rem;
  }
  /*Imagen npm superior */
  .logo-npm{
      width: 4.5em;
      margin-right: 1rem;
  }
  .logo-search{
      width: 23px;
      height: auto;
      
  }
  .form-search{
      width: 720px;
      display: flex;
      align-items:center;
  }
  
  .form-search label{
    color:rgba(0,0,0,.05);
    background-color:#eee;
    margin:0px;
    padding: 4px 0px 0px 5px;
  }
  .form-search input{
    color: rgba(0,0,0,.05);
    background-color:#eee;
    padding: 8px;
    margin: 8px 0px;
    width: 650px;
    border:0px;
    font-size: 1em;
  }
  .form-search button{
   background-color: #fb3e44;
    color: white;
    border:0px;
    margin: 0px;
    font-size: 1em;
    padding: 8px 13px;
  }

  .login a{
      text-decoration: none;
      color:black;
      padding: 2px 12px;
    margin: 0px;
  }

  .login #join{
    border:1px solid #ddd;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
      
  }
  #build-amazing{
      background-color:rgba(232,217,217,.3);
  }
  #build-amazing h1{
    font-size: 3.6em;
    margin-bottom: 30px;
  }
  #build-amazing article{
      width: 390px;
      font-size: 1em;
  }
  #build-amazing div{
    display: flex;
    justify-content: space-between;


  }
  #build-amazing a{
    text-decoration: none;
    color:black;
    padding: 10px 40px;
    margin:24px;
  }
  .button-plans{
      background-color:#FB3B49;
      color:white !important;
      box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  }
  #company h3{
     background-color:rgba(255,204,53,.4);
      transform: skew(9deg,0deg);
      padding: 2px 30px 0px 30px;
      font-size: 1.5em;
  }
  #company article{
      width: 600px;
      font-size: 12px;
      text-align: center;
  }

  #company img{
      width: 20%;
      margin: 50px;
  }

  #options{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #options div{
      display: flex;
      justify-content: space-between;
    width: 60em;
    margin: 30px;
    
  }

  #options h4{
      color:#ED1C24;
      
  }

  #options article{
      width: 300px;
     padding: 17px;
  }
  #options p{
      font-size: 14px;
      margin:0px;
  }

  #options img{
    width: 30px;
    
  }

  